body {
	background-color: #E57606;
}
.container1 {
	background-color: #E57606;
	padding: 50px;
	padding-top: 60px;
	padding-bottom: 0px;
	font-family: 'Oxygen', sans-serif;
	color: #7F5008;
}

img {
	border-radius: 30px;
	height: 220px;
	width: 260px;
	padding: 20px;
}


#footer{
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
}

.name {
	font-weight: bold;
}
  
  .row{
  padding: 20px;
  }
  
  .container-fluid{
  background-color: #7F5008;
  color: #FFEC83;
  }
  
  
a:link {
    color: #FFEC83;
}

a:visited {
    color: #403F02;
}

a:hover {
    color: #BFBC07;
}

